.containerHeader{
    background-color: #0D0D0D;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    .containerTitle{
        display: flex;
        &__img{
            margin-right: 12px;
        }
        &__title{
            font-family: 'inter';
            font-size: 40px;
            font-weight: 900;
            color: #4EA8DE;
            span{
                color: #5E60CE;
            }
        }
    }
}