.containerCount{
    display: flex;
    justify-content: space-between;
    &__text{
        font-size: 14px;
        font-weight: bold;
        %spanNumber{
            padding: 2px 8px;
            background-color: #333333;
            border-radius: 100px;
            margin-left: 8px
        }
        &--left{
            @extend .containerCount__text;
            color: #4EA8DE;
            span{
                @extend %spanNumber;
            }
        }
        &--right{
            @extend .containerCount__text;
            color: #8284FA;
            span{
                @extend %spanNumber;
            }
        }
    }
}