@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter/static/Inter-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter/static/Inter-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter/static/Inter-Black.ttf);
    font-weight: 900;
    font-style: 900;
}

.contentMain{
    max-width: 750px;
    margin: auto;
}